doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title WOW!
        link(rel="stylesheet", href="/css/styles.css")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.0/css/all.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Nanum+Myeongjo&family=PT+Mono&display=swap" rel="stylesheet")
    body  
        section.wholeWrapper 
            section.XX__left 
            section.rsWrapper
                block content
            section.XX__right 
        footer.footer
            .footer__col1
                .footer__col1__sec1
                    img(src="img/title.png")
                .footer__col1__sec2
                    .footer__col1__sec2__text1
                        p KAKAO WEB TONN
                    .footer__col1__sec2__text2
                        p NAVER WEB TOON
                    .footer__col1__sec2__text3
                        p KAKAO PAGE
                    .footer__col1__sec2__text4
                        p NAVER SERIES
            .footer__col2 
                .footer__col2__sec1 
                    .footer__col2__sec1__text
                        p HELP
                    .footer__col2__sec1__text
                        p QUESTION
                    .footer__col2__sec1__text
                        p PARTICIPANTS
                    .footer__col2__sec1__text
                        p NOTICE
                    .footer__col2__sec1__text
                        p EVENT   
                    .footer__col2__sec1__text
                        p TERMS OF USE     

                .footer__col2__sec2 
                    .footer__col2__sec2__icon
                        i.fab.fa-instagram
                    .footer__col2__sec2__icon
                        i.fab.fa-facebook-square
                    .footer__col2__sec2__icon
                        i.fab.fa-twitter
                    .footer__col2__sec2__icon
                        i.fas.fa-at

                .footer__col2__sec3 
                    .footer__col2__sec3__text1 
                        p project name : we of web toon ＠ 2021
                    .footer__col2__sec3__text2 
                        p project Participants : 동건 | 민수 | 지언 | 도기 | 근모