extends ../layouts/base.pug


block content
    form.webtoonForm(action="/webtoonsCreate", method="post")
        SELECT.selectbox(name="score")
            option(value="1") 1점
            option(value="2") 2점
            option(value="3") 3점
            option(value="4") 4점
            option(value="5" selected) 5점
        input(type="text"   name="title"  placeholder="제목" required) 
        input(type="text"   name="content"  placeholder="내용" required) 
        input(type="number" name="userKey"  placeholder="유저키" required) 
        input(type="number" name="bikeId"  placeholder="바이크 아이디" required) 
        input(type="submit" value="작성")



            