extends ../layouts/base.pug

block content
    .homebox 
        .homebox__col1 
            .homebox__col1__sec1 
            .homebox__col1__sec2
                .homebox__col1__sec2__img
        .homebox__col2
        .homebox__col3 
            .homebox__col3__sec1 
                .homebox__col3__sec1__b1
                .homebox__col3__sec1__b2 
                .homebox__col3__sec1__b3 
            .homebox__col3__sec2 
                .homebox__col3__sec2__b1 
                .homebox__col3__sec2__b2 
                .homebox__col3__sec2__b3 
        .homebox__col4 
        .homebox__col5
            .homebox__col5__sec1 
                .homebox__col5__sec1__b1
                .homebox__col5__sec1__b2 
                .homebox__col5__sec1__b3 
            .homebox__col5__sec2 
                .homebox__col5__sec2__b1 
                .homebox__col5__sec2__b2 
                .homebox__col5__sec2__b3  
        