extends ../layouts/base.pug

block content
    .homebox 
        .homebox__col1 
            .homebox__col1__sec 
                ul
                    li.homebox__col1__sec__b
                        .homebox__col1__sec__b__a1
                            img(src="img/wow1.png") 
                        .homebox__col1__sec__b__a2
                            .homebox__col1__sec__b__a2__c1
                                .homebox__col1__sec__b__a2__c1__text
                                    p   카카오웹툰
                                .homebox__col1__sec__b__a2__c1__text 
                                    p   네이버웹툰
                                .homebox__col1__sec__b__a2__c1__title 
                                    p   WOW
                                .homebox__col1__sec__b__a2__c1__text 
                                    p   카카오페이지
                                .homebox__col1__sec__b__a2__c1__text
                                    p   네이버시리즈 
                            .homebox__col1__sec__b__a2__c2
                                .homebox__col1__sec__b__a2__c2__top
                                    p 카카오웹툰
                                .homebox__col1__sec__b__a2__c2__box
                                    p 페이스북 
                                .homebox__col1__sec__b__a2__c2__box
                                    p 인스타
                                .homebox__col1__sec__b__a2__c2__box 
                                    p 트위터             
                    li.homebox__col1__sec__b
                        .homebox__col1__sec__b__a1
                            img(src="img/wow2.png") 
                        .homebox__col1__sec__b__a2
                            .homebox__col1__sec__b__a2__c1
                                .homebox__col1__sec__b__a2__c1__text 
                                    p   카카오웹툰
                                .homebox__col1__sec__b__a2__c1__text 
                                    p   네이버웹툰
                                .homebox__col1__sec__b__a2__c1__title 
                                    p   WOW
                                .homebox__col1__sec__b__a2__c1__text 
                                    p   카카오페이지
                                .homebox__col1__sec__b__a2__c1__text 
                                    p   네이버시리즈         
                            .homebox__col1__sec__b__a2__c2
                                .homebox__col1__sec__b__a2__c2__top1
                                    p 네이버웹툰
                                .homebox__col1__sec__b__a2__c2__box1
                                    p 페이스북 
                                .homebox__col1__sec__b__a2__c2__box1
                                    p 인스타
                                .homebox__col1__sec__b__a2__c2__box1 
                                    p 트위터                              
                    li.homebox__col1__sec__b
                        .homebox__col1__sec__b__a1
                            img(src="img/wow3.png") 
                        .homebox__col1__sec__b__a2
                            .homebox__col1__sec__b__a2__c1
                                .homebox__col1__sec__b__a2__c1__text 
                                    p   카카오웹툰
                                .homebox__col1__sec__b__a2__c1__text 
                                    p   네이버웹툰
                                .homebox__col1__sec__b__a2__c1__title 
                                    p   WOW
                                .homebox__col1__sec__b__a2__c1__text 
                                    p   카카오페이지
                                .homebox__col1__sec__b__a2__c1__text 
                                    p   네이버시리즈         
                            .homebox__col1__sec__b__a2__c2 
                                .homebox__col1__sec__b__a2__c2__top
                                    p 카카오페이지
                                .homebox__col1__sec__b__a2__c2__box
                                    p 페이스북 
                                .homebox__col1__sec__b__a2__c2__box
                                    p 인스타
                                .homebox__col1__sec__b__a2__c2__box 
                                    p 트위터                           
                    li.homebox__col1__sec__b
                        .homebox__col1__sec__b__a1
                            img(src="img/wow4.png") 
                        .homebox__col1__sec__b__a2
                            .homebox__col1__sec__b__a2__c1
                                .homebox__col1__sec__b__a2__c1__text 
                                    p   카카오웹툰
                                .homebox__col1__sec__b__a2__c1__text 
                                    p   네이버웹툰
                                .homebox__col1__sec__b__a2__c1__title 
                                    p   WOW
                                .homebox__col1__sec__b__a2__c1__text 
                                    p   카카오페이지
                                .homebox__col1__sec__b__a2__c1__text 
                                    p   네이버시리즈         
                            .homebox__col1__sec__b__a2__c2 
                                .homebox__col1__sec__b__a2__c2__top1
                                    p 네이버시리즈
                                .homebox__col1__sec__b__a2__c2__box1
                                    p 페이스북 
                                .homebox__col1__sec__b__a2__c2__box1
                                    p 인스타
                                .homebox__col1__sec__b__a2__c2__box1 
                                    p 트위터                     
        .homebox__col2
            img(src="img/wow5.png")
        .homebox__col3 
            .homebox__col3__sec1 
                .homebox__col3__sec1__b1
                .homebox__col3__sec1__b2 
                .homebox__col3__sec1__b3 
            .homebox__col3__sec2 
                .homebox__col3__sec2__b1 
                .homebox__col3__sec2__b2 
                .homebox__col3__sec2__b3 
        .homebox__col4 
        .homebox__col5
            .homebox__col5__sec1 
                .homebox__col5__sec1__b1
                .homebox__col5__sec1__b2 
                .homebox__col5__sec1__b3 
            .homebox__col5__sec2 
                .homebox__col5__sec2__b1 
                .homebox__col5__sec2__b2 
                .homebox__col5__sec2__b3 
                     