extends ../layouts/base.pug

block content
    .loginbox
        .signinbox
            .Idbox 
            .Passbox
    .signupbox
        p.Idtext 아이디 찾기 |  
        p.Passtext 비밀번호 찾기 |
        p.Signuptext 회원가입