extends ../layouts/base.pug

block content
    div.day 요일별
    div.day2
        div.day__mon 월요웹툰
        div.day__tue 화요웹툰
        div.day__wed 수요웹툰
        div.day__thu 목요웹툰
        div.day__fri 금요웹툰
        div.day__sat 토요웹툰
        div.day__sun 일요웹툰
    div.ing 연재
        div.ing__mon 
        div.ing__tue 
        div.ing__wed 
        div.ing__thu 
        div.ing__fri 
        div.ing__sat 
        div.ing__sun 
    div.finish 완결