extends ../layouts/base.pug

block content
    div.header
        div.header__p   
        div.header__wow_project wow_project
        div.header__jjj ...
    div.partcipants
    div.middlefooter
        div.middlefooter__views 조회수 10회
        div.middlefooter__user wow_project  wow프로젝트 팀장&팀원 정보
        div.middlefooter__likes wow   더보기
        div.middlefooter__chat 댓글 16개 모두 보기
        div.middlefooter__chat1 mememe 굿굿
        div.middlefooter__chat2 ooo222 우와