extends ../layouts/base.pug

block content
    div.header
        div.header__p
            .icon 
        div.header__wow_project wow_project
        div.header__jjj ...
    div.partcipants
        div.partcipants__good WOW 프로젝트
            p 팀&팀장&팀원정보
        div.partcipants__d 오동건
            p - 팀장에 대한 책임감을 가지고 잘한다
            p -
            p -
            p -
            p -
        div.partcipants__m 지민수
            p - 매일하는 꾸준함이 있다
            p -
            p -
            p -
            p -
        div.partcipants__j 김지언
            p -
            p -
            p -
            p -
            p -
    div.partcipants2
        div.parctipants2__ggang < 프로젝트&팀소개 >
            p 팀명: 우진이 갱생 작업
            p           
            p 팀장: 오동건
            p                    
            p 팀원: 지민수, 정근모, 홍도기, 김우진, 김지언
            p                   
            p 프로젝트: 웹툰소개&웹툰공모전 및 작가육성
            p            
            p 프로젝트명: We Of Webtoon(WOW)
        div.partcipants2__g 정근모
            p - 사기캐다
            p -
            p -
            p -
            p -
        div.partcipants2__d 홍도기
            p - 진짜 잘 하는데 이번 프로젝트때는 바빠서 할 시간이 별로 없어서 아쉬웠다
            p -
            p -
            p -
            p -
        div.partcipants2__o 김우진
            p - 연락을 읽씹한다
            p -
            p -
            p -
            p -
    div.middlefooter
        div.middlefooter__views 조회수 10회
        div.middlefooter__user wow_project  wow프로젝트 팀장&팀원 정보
        div.middlefooter__likes wow   더보기
        div.middlefooter__chat 댓글 16개 모두 보기
        div.middlefooter__chat1 mememe 굿굿
        div.middlefooter__chat2 ooo222 우와