extends ../layouts/base.pug

block content
    .profileeditBox
        .profileeditBox__col1   
            .profileeditBox__col1__icon
            .profileeditBox__col1__button1    
                button Upload new picture
            .profileeditBox__col1__button2         
                button Delete     
        .profileeditBox__col2
            p name
            p birth 
            p gender 
            p phone_number 
            p email 
            p password
        .profileeditBox__col3