extends ../layouts/base.pug

block content 
    form(action="/question", method="get")
        each board in boards
            a.bt(href="/board/create") 작성하기
            hr
            div
                div #{board.title} 
                div #{board.content}
                div #{board.createdAt}
            hr     