extends ../layouts/base.pug

block content
    .siginbody
        .siginbody__box
            .siginbody__box__col1
                .siginbody__box__col1__sec1
                    .siginbody__box__col1__sec1__title
                        p WEOF WEBTOON
                .siginbody__box__col1__sec2
                    form.siginbody__box__col1__sec2__Form(action="/signin", method="POST")
                        input.siginbody__box__col1__sec2__input(type="email" name="signinemail" placeholder="Email...") 
                        i.fas.fa-user
                        input.siginbody__box__col1__sec2__input(type="password" name="signinpassword" placeholder="Password...") 
                        input.siginbody__box__col1__sec2__submit(type="submit" value="LOGIN IN")
                .siginbody__box__col1__sec3
            .siginbody__box__col2
                img(src="img/signin.png")
                
                