extends ../layouts/base.pug

block content
    .signupbody
        .signupbody__box
            .signupbody__box__col1
                .signupbody__box__col1__sec1
                    .signupbody__box__col1__sec1__title
                        a(href="/") 
                            p WEOF WEBTOON
                .signupbody__box__col1__sec2
                    form.signupbody__box__col1__sec2__Form(action="/signup", method="POST")
                        .signupbody__box__col1__sec2__Form__box
                            input.signupbody__box__col1__sec2__Form__box__input(type="email" name="signinemail" placeholder="Email...") 
                            i.fas.fa-user
                        .signupbody__box__col1__sec2__Form__box    
                            input.signupbody__box__col1__sec2__Form__box__input(type="password" name="signinpassword" placeholder="Password...") 
                            i.fas.fa-unlock-alt
                        input.signupbody__box__col1__sec2__submit(type="submit" value="SIGN UP")
                .signupbody__box__col1__sec3
                    .signupbody__box__col1__sec3__login1
                        a(href="/") 
                            p Forget Password?
                    .signupbody__box__col1__sec3__login2
                        a(href="/signin")  
                            p signin
            .signupbody__box__col2
                .signupbody__box__col2__sec
                    a(href="/")  
                        img(src="img/signup1.png")

                
                
                