extends ../layouts/base.pug

block content
    .userBox
        .userBox__col1
            .userBox__col1__sec
                .userBox__col1__sec__icon
                .userBox__col1__sec__text
                    h1 profile
                    p home
        .userBox__col2
        .userBox__col3
            .userBox__col3__sec1
                .userBox__col3__sec1__box1
                .userBox__col3__sec1__box2
                .userBox__col3__sec1__box3
            .userBox__col3__sec2
                .userBox__col3__sec2__box1
                .userBox__col3__sec2__box2
                .userBox__col3__sec2__box3
                     