extends ../layouts/base.pug

block content
    section.wholeWrapper 
        section.XX__left 
        section.rsWrapper
            .userBox
                .userBox__col1
                .userBox__col2
                .userBox__col3
        section.XX__right                         