.naverwebtoon_header{
    width: 100%;
    height: 70px;

    display: flex;
    flex-direction: row;
}

.naverwebtoon_header .nwheader__weekdays{
    width: 50%;
    height: 70px;

    color: blue;

    border-bottom: 3px solid blue;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}



.naverwebtoon_header .nwheader__weekdays .nwheader__weekdays__font{
    width: 100%;
    cursor: pointer;
}

.naverwebtoon_header .nwheader__endwebtoons{
    width: 50%;
    height: 70px;
    border-bottom: 3px solid grey;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.naverwebtoon_header .nwheader__endwebtoons .nwheader__endwebtoons__font{
    width: 100%;
    cursor: pointer;
}
.naverwebtoon_header .nwheader__webtoons{
    width: 25%;
    height: 70px;
    border-bottom: 3px solid grey;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}




.naverwebtoondaylist{
    width: 100%;
    height: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.webtoonday {
    width: 77%;
    height: 50px;

    display: flex;
    flex-direction: row;

    margin-top: 20px;
}

.webtoonday a{
    width: 77%;
    height: 50px;

    display: flex;
    flex-direction: row;

    border-left: gray 2px solid;
    border-bottom: grey 2px solid;
    border-right: grey 2px solid;
    border-top: grey 2px solid;

    margin: 0px 10px;

    font-weight: 600;
}





.mondaywebtoons {
    width: 100%;
    height: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;


}

.tuesdaywebtoons {
    width: 100%;
    height: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.wednesdaywebtoons {
    width: 100%;
    height: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;


}

.thursdaywebtoons {
    width: 100%;
    height: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.fridaywebtoons {
    width: 100%;
    height: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.saturdaywebtoons {
    width: 100%;
    height: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.sundaywebtoons {
    width: 100%;
    height: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}


.naverwebtoonweekday_main {
    width: 100%;
    height: 900px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    margin-top: 20px;
}

.naverwebtoons {
    width: 100%;
    height: 1200px;
}



.naverwebtoons_rowbox1 {
    width: 100%;
    height: 240px;

    display: flex;
    flex-direction: row;
}

.naverwebtoons_rowbox1 .naverwebtoons_picture_box28 {
    width: 20%;
    height: 250px;

    background-image: url("https://shared-comic.pstatic.net/thumb/webtoon/783054/thumbnail/thumbnail_IMAG10_6917f3d9-c5bb-4bfd-aa04-a288f7b252af.jpg");
    background-repeat: no-repeat;
    background-size: 90%;
    margin-left: 2.5%;
}

.picture_box_font25 {
    margin-top: 270px;
    margin-left: 95px;

    font-weight: 600;
}

.naverwebtoons_rowbox1 .naverwebtoons_picture_box29 {
    width: 20%;
    height: 250px;

    background-image: url("https://shared-comic.pstatic.net/thumb/webtoon/570503/thumbnail/thumbnail_IMAG10_023d23be-91f9-46c5-a1ff-152d6238e892.jpg");
    background-repeat: no-repeat;
    background-size: 90%;

    margin-left: 5%;
}

.picture_box_font26 {
    margin-top: 270px;
    margin-left: 125px;

    font-weight: 600;
}

.naverwebtoons_rowbox1 .naverwebtoons_picture_box30 {
    width: 20%;
    height: 250px;

    background-image: url("https://shared-comic.pstatic.net/thumb/webtoon/736989/thumbnail/thumbnail_IMAG10_c26fbd42-af5b-4811-82e1-e6290713f2cf.jpg");
    background-size: 90%;
    background-repeat: no-repeat;
    margin-left: 5%;
}

.picture_box_font27 {
    margin-top: 270px;
    margin-left: 125px;

    font-weight: 600;
}

.naverwebtoons_rowbox1 .naverwebtoons_picture_box31 {
    width: 20%;
    height: 250px;
    background-repeat: no-repeat;
    background-size: 90%;
    background-image: url("https://shared-comic.pstatic.net/thumb/webtoon/747271/thumbnail/thumbnail_IMAG10_0a56d153-5521-4ca8-9665-a4450c6fb40d.jpg");
    margin-left: 5%;
}

.picture_box_font28 {
    margin-top: 270px;
    margin-left: 115px;

    font-weight: 600;

}

.naverwebtoons_rowbox2 {
    width: 100%;
    height: 240px;

    margin-top: 70px;

    display: flex;
    flex-direction: row;
}

.naverwebtoons_rowbox2_picture_box32 {
    width: 20%;
    height: 250px;
    background-image: url("https://shared-comic.pstatic.net/thumb/webtoon/557672/thumbnail/thumbnail_IMAG10_d05c81ab-ea19-473b-818f-3aceb657ae1e.jpg");
    background-size: 90%;
    background-repeat: no-repeat;
    margin-left: 2.5%;
}

.picture_box_font29 {
    margin-top: 270px;
    margin-left: 120px;

    font-weight: 600;
}

.naverwebtoons_rowbox2_picture_box33 {
    width: 20%;
    height: 250px;
    background-image: url("https://shared-comic.pstatic.net/thumb/webtoon/783055/thumbnail/thumbnail_IMAG10_f7dd1b57-3ac6-4bd7-86d6-a7d2fa26b8f6.jpg");
    background-size: 90%;
    background-repeat: no-repeat;
    margin-left: 5%;
}

.picture_box_font30{
    margin-top: 270px;
    margin-left: 95px;

    font-weight: 600;
}

.naverwebtoons_rowbox2_picture_box34{
    width: 20%;
    height: 250px;
    background-image: url("https://shared-comic.pstatic.net/thumb/webtoon/731130/thumbnail/thumbnail_IMAG10_0f5fa6cc-3d7c-4e20-a42d-60b32de309e5.jpg");
    background-size: 90%;
    background-repeat: no-repeat;
    margin-left: 5%;
}

.picture_box_font31 {
    margin-top: 270px;
    margin-left: 120px;

    font-weight: 600;
}

.naverwebtoons_rowbox2_picture_box35{
    width: 20%;
    height: 250px;
    background-image: url("https://shared-comic.pstatic.net/thumb/webtoon/783888/thumbnail/thumbnail_IMAG10_f15c2d69-b43c-413c-afc7-039b3c172c66.jpg");
    background-size: 90%;
    background-repeat: no-repeat;
    margin-left: 5%;
}

.picture_box_font32 {
    margin-top: 270px;
    margin-left: 115px;

    font-weight: 600;
}

.naverwebtoons_rowbox3 {
    width: 100%;
    height: 240px;

    margin-top: 70px;

    display: flex;
    flex-direction: row;
}

.naverwebtoons_rowbox3_picture_box36 {
    width: 20%;
    height: 250px;
    background-image: url("https://shared-comic.pstatic.net/thumb/webtoon/762279/thumbnail/thumbnail_IMAG10_7eca3c20-7c36-49b7-a7af-af933e9c8c09.jpg");
    background-size: 90%;
    background-repeat: no-repeat;

    margin-left: 2.5%;
}

.picture_box_font33 {
    margin-top: 260px;
    margin-left: 125px;

    font-weight: 600;
}

.naverwebtoons_rowbox3_picture_box37 {
    width: 20%;
    height: 250px;
    background-image: url("https://shared-comic.pstatic.net/thumb/webtoon/776255/thumbnail/thumbnail_IMAG10_56b3ed9f-2773-46d3-b65f-07e5b070f66a.jpg");
    background-size: 90%;
    background-repeat: no-repeat;

    margin-left: 5%;
}

.picture_box_font34 {
    margin-top: 260px;
    margin-left: 120px;

    font-weight: 600;
}

.naverwebtoons_rowbox3_picture_box38{
    width: 20%;
    height: 250px;
    background-image: url("https://shared-comic.pstatic.net/thumb/webtoon/746857/thumbnail/thumbnail_IMAG10_0e5a96ba-ee85-4de9-9996-b59852281617.jpg");
    background-size: 90%;
    background-repeat: no-repeat;
    margin-left: 5%;

}

.picture_box_font35 {
    margin-top: 260px;
    margin-left: 95px;

    font-weight: 600;
}

.naverwebtoons_rowbox3_picture_box39{
    width: 20%;
    height: 250px;
    background-image: url("https://shared-comic.pstatic.net/thumb/webtoon/773417/thumbnail/thumbnail_IMAG10_4ce06217-a6a3-4a9e-8988-8a1347651f1e.jpg");
    background-repeat: no-repeat;
    background-size: 90%;

    margin-left: 5%;
}

.picture_box_font36 {
    margin-top: 260px;
    margin-left: 125px;

    font-weight: 600;
}