extends ../layouts/base.pug

block content
    .naverwebtoon_header
    .writerlist 
        ul 
            li.all_font 전체
            li.first_font ㄱ
            li.second_font ㄴ
            li.third_font ㄷ
            li.fourth_font ㄹ
            li.fifth_font ㅁ
            li.sixth_font ㅂ 
            li.seventh_font ㅅ 
            li.eigthth_font ㅇ 
            li.ninth_font ㅈ
            li.tenth_font ㅊ 
            li.eleventh_font ㅋ
            li.twelfth_font ㅌ
            li.thirteenth_font ㅍ
            li.fourteenth_font ㅎ 
            li.alphabet_font A-Z
            li.numbers_font 0-9
    .naverpagetitle
    .naverwebtoons

            