extends ../layouts/base.pug

block content
    .naverwebtoon_header
        .naverwebtoon_header__weekdays 
            a(href="naverwebtoonweekday") 
                .naverwebtoon_header__weekdays__font 요일별
        .naverwebtoon_header__endwebtoons             
            a(href="/naverendwebtoon")    
                .naverwebtoon_header__endwebtoons__font 완결웹툰
        .naverwebtoon_header__webtoons
            a(href="/naverwebtoonproduct") 
                .naverwebtoon_header__webtoons__font 웹툰별
        .naverwebtoon_header__writers
            a(href="/naverwebtoonwriter") 
                .naverwebtoon_header__writers__font 작가별
    .naverwebtoon_writername

    .writerlist 
        ul 
            li.all_font 전체
            li.first_font ㄱ
            li.second_font ㄴ
            li.third_font ㄷ
            li.fourth_font ㄹ
            li.fifth_font ㅁ
            li.sixth_font ㅂ 
            li.seventh_font ㅅ 
            li.eigthth_font ㅇ 
            li.ninth_font ㅈ
            li.tenth_font ㅊ 
            li.eleventh_font ㅋ
            li.twelfth_font ㅌ
            li.thirteenth_font ㅍ
            li.fourteenth_font ㅎ 
            li.alphabet_font A-Z
            li.numbers_font 0-9
    .naverpagetitle
    .naverwebtoons

            