extends ../../layouts/main.pug

block content
    div
       section.wholeWrapper 
        section.XX__left 
        section.rsWrapper 
            div.questiondetailBox
                div.questiondetailBox__img
                    a(href="/")
                        button home 
                    h1 #{bData.title}  
                    h2 작성자: #{bData.name} | 작성일: #{bData.createdAt}
                div.questiondetailBox__text
                    h4 #{bData.content}
                div.questiondetailBox__button
                    a.qdbtn1(href="/board/questionlist")  
                        button 돌아가기
                    a.qdbtn2(href="/board/questioncreate")  
                        button 작성하기   
        section.XX__right 