extends ../../layouts/base.pug

block content
    div
       section.wholeWrapper 
        section.XX__left 
        section.rsWrapper 
            div.questiondetailBox
                div.questiondetailBox__img
                div.questiondetailBox__text
                    h1 #{bData.title}
                    h2 #{bData.name}
                    h3 #{bData.createdAt}
                    h4 #{bData.content}
        section.XX__right 