extends ../layouts/base.pug

block content
    .naverwebtoon_header
        .nwheader__weekday 
            a(href="naverwebtoonweekday") 
                .nwheader__weekday__font 요일별
        .nwheader__endwebtoon
            a(href="/naverendwebtoon") 
                .nwheader__endwebtoon__font 완결웹툰

