.naverwebtoon_header{
    width: 100%;
    height: 70px;

    display: flex;
    flex-direction: row;
}
.naverwebtoon_header .naverwebtoon_header__weekdays {
    width: 25%;
    height: 70px;

    border-bottom: 3px solid grey;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.naverwebtoon_header .naverwebtoon_header__weekdays .naverwebtoon_header__weekdays__font{
    width: 100%;
    cursor: pointer;
}

.naverwebtoon_header .naverwebtoon_header__endwebtoons{
    width: 25%;
    height: 70px;
    border-bottom: 3px solid grey;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.naverwebtoon_header .naverwebtoon_header__endwebtoons .naverwebtoon_header__endwebtoons__font{
    width: 100%;
    cursor: pointer;
}
.naverwebtoon_header .naverwebtoon_header__webtoons{
    width: 25%;
    height: 70px;
    border-bottom: 3px solid grey;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.naverwebtoon_header .naverwebtoon_header__webtoons .naverwebtoon_header__webtoons__font{
    width: 100%;
    cursor: pointer;
}
.naverwebtoon_header .naverwebtoon_header__writers{
    width: 25%;
    height: 70px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;


    border-bottom: 3px solid blue;
}
.naverwebtoon_header .naverwebtoon_header__writers .naverwebtoon_header__writers__font{
    color: blue;
    width: 100%;
    cursor: pointer;
}
.writerlist ul {
    display: flex;
    flex-direction: row;

    background-color:yellow;
}

.naverwebtoons{
    width: 100%;
    height: 3000px;
    background-color: black;
}


