extends ../../layouts/main.pug

block content
    form(action="/event/create", method="post")
        div 
            label(htmlFor="title") TITLE 
            input(type="text" name="title" id="title" required)
        div 
            label(htmlFor="content") CONTENT 
            input(type="text" name="content" id="content" required)
        input(type="submit" value="Write")
    form(action="/event/list", method="get")
        input(type="submit" value="목록으로")        