.baseheader {
  width: 100%;
  height: 80px;
  position: sticky;

  top: 0px;

  display: flex;
  flex-direction: row;
  align-items: center;

  opacity: 10;

  backdrop-filter: blur(10px);
  z-index: 10;

  /*background-color: #fff;*/

  padding: 0px 25px;
}

.baseheader__col1 {
  width: 10%;
  font-size: 23px;
  font-family: "Dancing Script", cursive;
}

.baseheader__col2 {
  width: 65%;
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.baseheader__col2__sec {
  display: flex;
  flex-direction: row;
  align-items: center;

  font-size: 14px;
  margin: 0px 15px;
  color: #666;
}

.devMenu {
  height: 100%;
  cursor: pointer;
  font-family: "Manrope", sans-serif;
  font-weight: 1000;
  transition: 0.1;
}

.devMenu:hover {
  color: #444;
  transition: 0.1;
}

.devMenu:hover .subBox {
  display: block;

  background-color: #fff;

}

.subBox {
  display: none;
  position: absolute;

  width: 600px;
  height: 350px;

  margin: 390px 0px 0px 0px;

  border-radius: 8px;
  box-shadow: 1.5px 1.5px 25px rgb(182, 182, 182);

  background-color: #fff;
}

.subBox:hover {
  display: block;
}

.baseheader__col3 {
  width: 25%;
  height: 100%;

  display: flex;
  flex-direction: row;
}

.baseheader__col3 ul {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 15px;

  font-family: "Roboto", sans-serif;
}

.baseheader__col3__sec p {
  margin: 0px 10px;
  color: #555;
}
