.homebox {
  width: 100%;
  height: 540vh;

  display: flex;
  flex-direction: column;
}

.homebox__col1 {
  width: 100%;
  height: 120vh;

  display: flex;
  flex-direction: column;

  background: linear-gradient(315deg, #eed4af, 75%, #c58a8f);
}

.homebox__col1__sec1 {
  width: 100%;
  height: 10%;
  top: 0px;

  display: flex;
  flex-direction: row;
  background: none;
  position: sticky;

  backdrop-filter: blur(10px);
  z-index: 10;
}

.homebox__col1__sec2 {
  width: 100%;
  height: 90%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.homebox__col1__sec2__img {
  width: 250px;
  height: 350px;

  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHJ-cBTG2jVaCT32clzAQEMEy7eKAz71KMxw&usqp=CAU");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.homebox__col2 {
  width: 100%;
  height: 100vh;
  background-color: gainsboro;
}

.homebox__col3 {
  width: 100%;
  height: 90vh;

  display: flex;
  flex-direction: column;
}

.homebox__col3__sec1,
.homebox__col3__sec2 {
  width: 100%;
  height: 50%;

  display: flex;
  flex-direction: row;
}

.homebox__col3__sec1__b1 {
  width: 33.3333333333%;
  height: 100%;
  background-color: salmon;
}

.homebox__col3__sec1__b2 {
  width: 33.3333333333%;
  height: 100%;
  background-color: lawngreen;
}

.homebox__col3__sec1__b3 {
  width: 33.3333333333%;
  height: 100%;
  background-color: khaki;
}

.homebox__col3__sec2__b1 {
  width: 33.3333333333%;
  height: 100%;
  background-color: wheat;
}

.homebox__col3__sec2__b2 {
  width: 33.3333333333%;
  height: 100%;
  background-color: olive;
}

.homebox__col3__sec2__b3 {
  width: 33.3333333333%;
  height: 100%;
  background-color: tan;
}

.homebox__col4 {
  width: 100%;
  height: 100vh;
  background-color: palegreen;
}

.homebox__col5 {
  width: 100%;
  height: 130vh;
  background-color: indianred;
}

.homebox__col5__sec1,
.homebox__col5__sec2 {
  width: 100%;
  height: 50%;

  display: flex;
  flex-direction: row;
}

.homebox__col5__sec1__b1 {
  width: 33.3333333333%;
  height: 100%;
  background-color: salmon;
}

.homebox__col5__sec1__b2 {
  width: 33.3333333333%;
  height: 100%;
  background-color: lawngreen;
}

.homebox__col5__sec1__b3 {
  width: 33.3333333333%;
  height: 100%;
  background-color: khaki;
}

.homebox__col5__sec2__b1 {
  width: 33.3333333333%;
  height: 100%;
  background-color: wheat;
}

.homebox__col5__sec2__b2 {
  width: 33.3333333333%;
  height: 100%;
  background-color: olive;
}

.homebox__col5__sec2__b3 {
  width: 33.3333333333%;
  height: 100%;
  background-color: tan;
}

.text {
  font-size: 16px;
  color: blue;
}

@media (max-width: 768px) {
  .text {
    font-size: 20px;
    color: black;
  }
}
