.loginbox{
    width: 100%;
    height: 700px;

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}
.signinbox{
    width: 60%;
    height: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.titlebox{
    width: 100%;
    height: 35%;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;

}
.titlebox p{
    font-size: 90px;
    font-weight: 700;    
    color: orange;

    font-family: 'M PLUS 1 Code', sans-serif;
}

.inputbox{
    width: 70%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border:4px solid #888888 ;

    
}
.Idbox{
    width: 100%;
    height: 500px;    

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;


}
.Idbox input{
    display: flex;
    flex-direction: column;
    

    width: 500px;
    height: 60px;
    font-size: 20px;
    
}

.btnbox{
    width: 100%;
    height: 35%;

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;

}

.btnbox button{
    width: 660px;
    height: 70px;

    font-size: 20px;

    background-color: lightgreen;

    outline: lightgreen;
}
.signupbox{
    width: 100%;
    height: 15%;


    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    
}

.signupbox > p {
    color: #888888;
    margin: 0px 3px;

}

.Idtext{
    font-size: 20px;
}
.Passtext{
    font-size: 20px;
}
.Signuptext{
    font-size: 20px;
}
