.header {
  width: 100%;
  height: 50px;

  display: flex;
  flex-direction: row;
}

.header .header__p {
  width: 5%;
  height: 100%;
  background-color: ivory;
}

.header .header__p .icon {
  width: 50px;
  height: 50px;

  border-radius: 100%;

  background-color: gray;
}

.header .header__wow_project {
  width: 90%;
  height: 100%;
  background-color: ivory;

  font-size: 25px;
}

.header .header__jjj {
  width: 5%;
  height: 100%;
  background-color: ivory;
}

.partcipants {
  width: 100%;
  height: 400px;

  display: flex;
  flex-direction: row;
}

.partcipants .partcipants__good {
  width: 25%;
  height: 100%;
  background-color: rgb(224, 227, 230);

  font-size: 50px;
}

.partcipants .partcipants__d {
  width: 25%;
  height: 100%;
  background-color: rgb(224, 227, 230);

  font-size: 30px;
}

.partcipants .partcipants__m {
  width: 25%;
  height: 100%;
  background-color: rgb(224, 227, 230);

  font-size: 30px;
}

.partcipants .partcipants__j {
  width: 25%;
  height: 100%;
  background-color: rgb(224, 227, 230);

  font-size: 30px;
}

.partcipants2 {
  width: 100%;
  height: 400px;

  display: flex;
  flex-direction: row;
}

.partcipants2 .parctipants2__ggang {
  width: 25%;
  height: 100%;
  background-color: rgb(224, 227, 230);

  font-size: 30px;
}

.partcipants2 .partcipants2__g {
  width: 25%;
  height: 100%;
  background-color: rgb(224, 227, 230);

  font-size: 30px;
}

.partcipants2 .partcipants2__d {
  width: 25%;
  height: 100%;
  background-color: rgb(224, 227, 230);

  font-size: 30px;
}

.partcipants2 .partcipants2__o {
  width: 25%;
  height: 100%;
  background-color: rgb(224, 227, 230);

  font-size: 30px;
}

.middlefooter {
  width: 100%;
  height: 180px;

  display: flex;
  flex-direction: column;
}

.middlefooter .middlefooter__views {
  width: 100%;
  height: 30px;
  background-color: ivory;
}

.middlefooter .middlefooter__user {
  width: 100%;
  height: 30px;
  background-color: ivory;
}

.middlefooter .middlefooter__likes {
  width: 100%;
  height: 30px;
  background-color: ivory;
}

.middlefooter .middlefooter__chat {
  width: 100%;
  height: 30px;
  background-color: ivory;
}

.middlefooter .middlefooter__chat1 {
  width: 100%;
  height: 30px;
  background-color: ivory;
}

.middlefooter .middlefooter__chat2 {
  width: 100%;
  height: 30px;
  background-color: ivory;
}
