.userBox {
  width: 100%;
  height: 160vh;

  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
}

.userBox__col1 {
  width: 100%;
  height: 40vh;
  background-color: aquamarine;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.userBox__col1__sec{
  width: 700px;
  height: 100%;
  background-color: rgb(218, 18, 18);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.userBox__col1__sec__icon {
  width: 120px;
  height: 120px;

  border-radius: 100%;
  background-color: black;
}

.userBox__col1__sec__text {
  width: 120px;
  height: 120px;

  display: flex;
  flex-direction: column;

  margin-left: 40px;
}

.userBox__col1__sec__text h1 {
 font-size: 32px;
 font-family: 'Roboto', sans-serif;

 margin: 10px 0px 10px;
}

.userBox__col1__sec__text  {
  font-size: 16px;
}

.userBox__col2 {
  width: 100%;
  height: 10vh;
  background-color: aqua;

  border-bottom: 1px solid rgb(207, 206, 206);
}

.userBox__col3 {
  width: 100%;
  height: 110vh;
  
  display: flex;
  flex-direction: column;
}

.userBox__col3__sec1 {
  width: 100%;
  height: 55vh;
  background-color: rgb(82, 61, 35);
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px 40px;
}

.userBox__col3__sec1__box1 {
  width: 400px;
  height: 300px;

  background-color: aqua;

  border-radius: 8px;
}

.userBox__col3__sec1__box2 {
  width: 400px;
  height: 300px;

  background-color: rgb(17, 51, 51);

  border-radius: 8px;
}

.userBox__col3__sec1__box3 {
  width: 400px;
  height: 300px;

  background-color: rgb(27, 77, 77);

  border-radius: 8px;
}

.userBox__col3__sec2 {
  width: 100%;
  height: 55vh;
  background-color: bisque;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px 40px;
}

.userBox__col3__sec2__box1,
.userBox__col3__sec2__box2,
.userBox__col3__sec2__box3 {
  width: 400px;
  height: 300px;

  background: linear-gradient(rgb(233, 231, 231), #fff);

  border-radius: 8px;
}