extends ../layouts/base.pug

block content
    .naverwebtoon_header
        .nwheader_weekday
            a(href="naverwebtoonweekday") 
                .nwheader_weekday__font 요일별
        .nwheader_endwebtoon
            a(href="/naverendwebtoon") 
                .nwheader_endwebtoon__font 완결웹툰
        .nwheader_webtoon
            a(href="/naverwebtoonproduct") 
                .nwheader_webtoon__font 웹툰별
        .nwheader_writer
            a(href="/naverwebtoonwriter") 
                .nwheader_writer__font 작가별
    .naverwebtoon_writername