extends ../layouts/base.pug

block content
    .naverwebtoon_header
        .nwheader__weekdays     
            a(href="naverwebtoonweekday") 
                .nwheader__weekdays__font 요일별
        .nwheader__endwebtoons
            a(href="/naverendwebtoon") 
                .nwheader__endwebtoons__font 완결웹툰


    .naverwebtoondaylist   
        ul.webtoonday
            a(href="/mondaynaverwebtoons") 
                li.mondaywebtoons 월요일 웹툰 
            a(href="/tuesdaynaverwebtoons") 
                li.tuesdaywebtoons 화요일 웹툰
            a(href="/wednesdaynaverwebtoons") 
                li.wednesdaywebtoons 수요일 웹툰
            a(href="/thursdaynaverwebtoons") 
                li.thursdaywebtoons 목요일 웹툰
            a(href="/fridaynaverwebtoons") 
                li.fridaywebtoons 금요일 웹툰
            a(href="/saturdaynaverwebtoons") 
                li.saturdaywebtoons 토요일 웹툰
            a(href="/sundaynaverwebtoons") 
                li.sundaywebtoons 일요일 웹툰

    .naverwebtoonweekday_main
        .naverwebtoons 
            .naverwebtoons_rowbox1
                .naverwebtoons_picture_box28
                    .picture_box_font25 쇼미더럭키짱
                .naverwebtoons_picture_box29
                    .picture_box_font26 연애혁명
                .naverwebtoons_picture_box30
                    .picture_box_font27 더복서
                .naverwebtoons_picture_box31
                    .picture_box_font28 나노머신


            .naverwebtoons_rowbox2
                .naverwebtoons_rowbox2_picture_box32 
                    .picture_box_font29 기기괴괴
                .naverwebtoons_rowbox2_picture_box33
                    .picture_box_font30 신림/남/22
                .naverwebtoons_rowbox2_picture_box34
                    .picture_box_font31 이두나
                .naverwebtoons_rowbox2_picture_box35
                    .picture_box_font32 현실퀘스트
            .naverwebtoons_rowbox3
                .naverwebtoons_rowbox3_picture_box36 
                    .picture_box_font33 정글쥬스
                .naverwebtoons_rowbox3_picture_box37
                    .picture_box_font34 천마육성
                .naverwebtoons_rowbox3_picture_box38 
                    .picture_box_font35 무사만리행
                .naverwebtoons_rowbox3_picture_box39  
                    .picture_box_font36 포식동물


