extends ../layouts/base.pug

block content
    .naverwebtoon_header
        .nwheader__weekdays     
            a(href="naverwebtoonweekday") 
                .nwheader__weekdays__font 요일별
        .nwheader__endwebtoons
            a(href="/naverendwebtoon") 
                .nwheader__endwebtoons__font 완결웹툰
        .nwheader__webtoons
            a(href="/naverwebtoonproduct") 
                .nwheader__webtoons__font 웹툰별
        .nwheader__writers
            a(href="/naverwebtoon") 
                .nwheader__writers__font 작가별
    .naverwebtoon_writername